:root {
  --gray-shade-1: #A8A8A8;
  --gray-shade-3: #545454;
  --header-text-1: #2C2C2C;
  --header-text-2: #747474;
  
  --text-1: #FFFFFF;
  --white-shade-2: #F0F2F4;

  --background-1: #324148;

  --btn-pill-1: #7B58C1;

  --bold-text-1: #4137A1;

  --border-1: #FFA832;
}