:root {
  --gray-shade-1: #A8A8A8;
  --gray-shade-2: #747474;
  --gray-shade-3: #545454;
  --gray-shade-4: #2C2C2C;
  
  --text-1: #FFFFFF;
  --white-shade-2: #F0F2F4;

  --background-1: #324148;

  --violet: #7B58C1;

  --blue-dark: #4137A1;

  --border-1: #FFA832;
}