@import url("colors.css");

header {
	background-image: url('../img/backgrounds/bg_1.jpg');
}
.navbar-default {
	background-color: var(--background-1);
	border: none;
}

.navbar-brand {
	margin: 0px;
	padding: 0px;
}

.navbar-default .nav > li > a {
	opacity: 0.7;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: var(--text-1);
	letter-spacing: 2.4px;
	font-weight: 500;
	margin-left: 7px;
    margin-right: 7px;
}

.navbar-default.affix .nav > li > a, 
.navbar-default.affix .nav > li > a:focus {
	color: var(--text-1);
}
.navbar-default.affix .nav > li > a:hover, 
.navbar-default.affix .nav > li > a:focus:hover {
	opacity: 1;
	color: var(--text-1);
}
.navbar-default .nav > li.active > a, 
.navbar-default .nav > li.active > a:focus {
    opacity: 1;
	color: var(--text-1);
    background-color: transparent;
}

.navbar-default .navbar-header .navbar-toggle {
	color: var(--text-1);
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.in-touch-pill {
	border: 2px solid var(--border-1);
	border-radius: 50px;
	opacity: 1 !important;
	padding: 15px 30px !important;
}

.btn-primary {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 500;
	background-color: var(--border-1);
	color: var(--text-1);
	letter-spacing: 2.4px;
}

.btn-primary:focus, .btn-primary:active, .btn-primary:hover {
	background-color: var(--text-1);
	color: var(--border-1);
}

.btn-secondary {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 500;
	background-color: var(--btn-pill-1);
	color: var(--text-1);
	letter-spacing: 2.4px;
}

.btn-dark {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 500;
	background-color: var(--header-text-1);
	color: var(--text-1);
	letter-spacing: 2.4px;
}

.btn-dark:hover {
	background-color: var(--btn-pill-1);
	color: var(--text-1);
}

.btn-secondary-outline {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: var(--header-text-1);
	letter-spacing: 2.4px;
}

.panel {
	box-shadow: none;
	border: none;
}

header .header-content .header-content-inner h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 55px;
	font-weight: 300;
	color: var(--text-1);
	line-height: 65px;
}
header .header-content .header-content-inner p {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: var(--text-1);
}

.logos li {
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity .2s linear;
    position: relative;
    min-height: 1px;
    padding-left: .9375rem;
    padding-right: .9375rem;
    float: left;
    width: 20%;
    height: 100px;
    box-sizing: border-box;
}

.process-outline {
    margin: 30px auto;
    position: relative;
    max-width: 1070px;
}
.process-outline:before {
    width: 100%;
    height: 2px;
    background: var(--btn-pill-1);
    position: absolute;
    top: 50%;
}
.process-outline ol {
    counter-reset: li;
    margin: 0 auto;
    padding: 0;
}
.process-outline li:first-child {
    margin-left: 0;
}

.process-outline li {
    position: relative;
    z-index: 2;
    list-style: none;
    width: 130px;
    height: 130px;
    padding-top: 80px;
    border-radius: 50%;
    border: 2px solid var(--btn-pill-1);
    text-align: center;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 400;
    background: #fff;
    color: var(--btn-pill-1);
    display: block;
    float: left;
    margin-left: 105px;
    transition: all .2s linear;
    font-family: 'Roboto', sans-serif;
}

.process-outline li:hover:before {
    color: #123919;
}

.process-outline li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: 900;
    color: #000;
    font-family: 'Raleway', sans-serif;
	font-size: 50px;
}

.testimonial-cards li>div {
    background: var(--text-1);
    border-radius: 7px;
    min-height: 480px;
    padding: 30px 0px 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
}

.main-heading {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	font-weight: 300;
	color: var(--header-text-1);
}

.main-heading-bold {
	color: var(--bold-text-1);
	font-weight: 500;
}

.sub-heading {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: var(--header-text-2);
}

.body-copy {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: var(--header-text-2);
}

.big-heading{
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	font-weight: 700;
	color: var(--header-text-1);
}

blockquote {
	border-left: none;
}

#contact-us-modal {
	background-image: url('../img/backgrounds/bg_1.jpg');
}

.top-heading-small {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: var(--text-1);
}

.top-heading-small-bold {
	font-weight: 700;
}

.modal-heading {
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
	font-weight: 700;
	color: var(--text-1);
	margin-bottom: 0px;
}

.modal-sub-heading {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: var(--text-1);
	margin-bottom: 0px;
}

.modal-label {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: var(--text-1);
}

.input-field {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 450;
	color: var(--header-text-1);
	margin-bottom: 10px;
	border: 1px solid #fff;
    box-shadow: none;
    padding: 10px 20px;
    width: 300px;
    border-radius: 2px;
}

.text-btn:hover {
	color: var(--text-1);
	cursor: pointer;
}
@media only screen and (max-width: 768px) {
	.logos li {
	    width: 50%;
	    background-size: 80% auto;
	}
	.process-outline li:first-child {
	    margin: 0 auto;
	}
	.process-outline li {
	    float: none;
	    margin: 60px auto 0;
	}
	.process-outline:before {
	    width: 2px;
	    height: 100%;
	    top: 0;
	    left: 50%;
	}
	header .header-content .header-content-inner h1 {
		font-size: 40px;
		line-height: 50px;
	}
	header .header-content .header-content-inner p {
		font-size: 14px;
	}
}

@media (min-width: 768px){
	.navbar-default.affix {
		background-color: var(--background-1);
		border: none;
	}
	.navbar-default.affix .nav > li > a, 
	.navbar-default.affix .nav > li > a:focus {
		color: var(--text-1);
	}
	.navbar-default.affix .nav > li > a:hover, 
	.navbar-default.affix .nav > li > a:focus:hover {
	    opacity: 1;
		color: var(--text-1);
	}
	.navbar-default .nav > li.active > a, 
	.navbar-default .nav > li.active > a:focus {
	    opacity: 1;
		color: var(--text-1);
	    background-color: transparent;
	}
	.navbar-default .nav > li > a {
		opacity: 0.7;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		color: var(--text-1);
		letter-spacing: 2.4px;
		font-weight: 500;
		margin-left: 7px;
    	margin-right: 7px;
	}
	header .header-content .header-content-inner h1 {
		font-family: 'Montserrat', sans-serif;
		font-size: 55px;
		font-weight: 300;
		color: var(--text-1);
		line-height: 65px;
	}
	header .header-content .header-content-inner p {
		font-family: 'Montserrat', sans-serif;
		font-size: 24px;
		font-weight: 500;
		color: var(--text-1);
	}
}

