body {
  background: #222 url("http://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Golden_Gate_Bridge_bw.jpg/1280px-Golden_Gate_Bridge_bw.jpg") no-repeat fixed center;
  background-size: cover;
  overflow: hidden;
}

#display {
  background-image: url("img/display.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px -25px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.6;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  transition: opacity .5s;
}

#display-picture:hover {
  opacity: 1;
}
.social {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 70px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 100px;
  color: white;
  margin-left: 20px;
  transform: translateX(10px);
}

.social .link.resume{
  background-color: black;
  opacity: 0.8;
  color: white;
}
.social .link.me:hover{
  padding: 200px;
  opacity: 1;
}
.social .link.projects {
  background-color: black;
  opacity: 0.8;
  color: white;
}